.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  font-size: 28px;
}

.status {
  width: 640px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.status[data-status='0']:before {
  content: attr(data-turn);
}

.status[data-status='1']:before {
  content: 'GameOver';
}

.board {
  position: relative;
  width: 640px;
  height: 640px;
  user-select: none;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-image: linear-gradient(to right, #000 1px, transparent 1px),
    linear-gradient(to bottom, #000 1px, transparent 1px);
  background-size: 80px 80px;
}

.stone {
  position: absolute;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
}
